# Base de datos
*.db

# Cache de Python
__pycache__/
*.pyc

# Entornos virtuales
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Tokens generados dinámicamente
tokens.json

# Base de datos y tokens generados dinamicamente
data/logs.db
data/tokens.json

# Archivos de testin local
curls_de_prueba.py

# Postman (archivos locales de pruebas)
postman/
.postman/